@model IEnumerable<charity.Models.Location>
@{
    ViewData["Title"] = "Index";
}
@section css
{
    <style>
        #map {
            height: 100%;
            width: 100%;
        }
        /* 設置動畫過渡效果 */‵
        /* 設置放大效果 */
        table tbody tr:hover {
            transition: transform 0.3s ease; /* 設置動畫過渡效果 */
            transform: scale(1.01); /* 當 hover 到某一行時，該行會放大 5% */
        }
    </style>
}
<div class="col-12">
    <!-- 地圖st -->
    <div class="col-12" style="height:50vh">
        <div id="map">
        </div>
    </div>
    <!-- 地圖end -->
    <p>
        <a asp-action="Create">新建地址</a>
    </p>
    <div style="overflow-x:hidden; overflow-y:auto;display:block;max-height:140px;" id="map_info_div">
        <table class="table table-hover" id="locationTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)<!--地名-->
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Longitude)<!--經-->
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Latitude)<!--緯-->
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)<!--描述-->
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)<!--地址-->
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PlusCode)<!--經緯度簡寫-->
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Capacity)<!--人數上限-->
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Longitude)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Latitude)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PlusCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Capacity)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">編輯</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">檢視</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">刪除</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@*地圖呼叫*@
@section Scripts
{
    @*變數st*@
    <script>
        var map;
        var markers = [];
    </script>
    @*變數end*@
    @*自訂地圖樣式*@
    <script>
        var mapStyle = [
            {
                "elementType": "labels",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "administrative",
                "elementType": "geometry",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "administrative.land_parcel",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "administrative.neighborhood",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "poi",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "road",
                "elementType": "labels.icon",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "transit",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            }
        ]
    </script>
    @*當寬度小於750時，啟用橫向卷軸*@
    <script>
        $(window).resize(function () {
            let Width_map_1 = $(window).width();
             
            if (Width_map_1 > 750) {
                $("#map_info_div").css({
                    "overflow-x": "hidden",
                    "overflow-y": "auto"
                });
                $("table tbody tr").hover(
                    function () {
                        $(this).css({
                            "transition": "transform 0.3s ease",
                            "transform": "scale(1.05)"
                        });
                    },
                );
            } 
            else {
                $("#map_info_div").css({
                    "overflow": "auto"
                });
                $("table tbody tr").hover(
                    function () {
                        $(this).removeAttr("transition").removeAttr("transform");
                    },
                );
            }
        });
    </script>
    @* 連接google map st(舊版) *@
    <!-- <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvwZ6fFGycrcyXR8jzu_m5CBx_gbQhygg&callback=initMap">
        //地圖載入
    </script>     -->
    <!-- http 砍掉末尾&sensor=false -->
    @* <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAvwZ6fFGycrcyXR8jzu_m5CBx_gbQhygg"></script> *@
    <!-- https -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvwZ6fFGycrcyXR8jzu_m5CBx_gbQhygg&sensor=false"></script>
    @* 連接google map end *@

    @* 初始載入st *@
    <script>
        var baseUrl = '@Url.Content("~/")';
        const fileNames = ['Changhua_County', 'Chiayi_City', 'Chiayi_County', 'Hsinchu_City', 'Hsinchu_County', 'Hualien_County', 'Kaohsiung', 'Keelung_City', 'Miaoli_County', 'nantou_county', 'New_Taipei_City', 'Pingtung_County', 'Taichung_City', 'tainan', 'Taipei_City', 'Taitung_County', 'Taoyuan_County', 'Yilan_County', 'Yunlin_County'];  // 可以依據檔案數量進行修改
        function initMap() {
            let map = new google.maps.Map(document.getElementById("map"), {//佈署地圖
                zoom: 8,//地圖縮放倍率
                center: { lat: 23.6978, lng: 120.9605 },//台灣正中心
                //前金區緯經度lat: 22.6273, lng: 120.3014
            });
            loadmapbored(map);//讀取所有縣市geojson
            loadmapmouseevent(map);//選擇縣市
            first_loc_mark(map);//將現有地點建立marker至地圖
            loadmapmouseevent_click(map);//點擊跳轉
            
        }
        // 等待頁面載入後初始化地圖
        window.onload =initMap();
        function loadmapbored(map) {//讀取所有縣市geojson
            let filenum = 0;
            let fileroute;
            fileNames.forEach(function () {
                fileroute = window.baseUrl + "Map_JSON/" + fileNames[filenum] + ".json";//取得網站根目錄後拼接完整路徑
                map.data.loadGeoJson(fileroute);
                filenum++;
            })
            //邊框樣式設定
            map.data.setStyle({
                fillColor: "green",
                strokeWeight: 0.5,
            });
        }
        function loadmapmouseevent(map) {//選擇縣市
            //參考網址
            //https://developers.google.cn/maps/documentation/javascript/datalayer?hl=zh-tw
            //當滑鼠進入時
            map.data.addListener('mouseover', function (event) {
                map.data.revertStyle();
                map.data.overrideStyle(event.feature, { fillColor: "#193300", strokeWeight: 2 });
            });
            //當滑鼠離開時
            map.data.addListener('mouseout', function (event) {
                map.data.revertStyle();
            });
            //當滑鼠點擊時
            map.data.addListener('click', function (event) {
                const feature_COUNTY_ID = event.feature.Fg.COUNTY_ID;//取得geojson裡COUNTY_ID
                const feature_cityname = event.feature.Fg.COUNTY;//取得geojson裡COUNTY_ID
                fetch(window.baseUrl + "Map_JSON/" + "contrycenter" + ".json")
                    .then(response => {
                        return response.json();
                    })
                    .then(jsondata => {
                        let lng;
                        let lat; 
                        lng = Number(jsondata[feature_cityname][0]["lng"]);
                        lat = Number(jsondata[feature_cityname][0]["lat"]);
                        map.setCenter({ lng: lng, lat: lat });
                        map.setZoom(11);
                    })
            });
        }
        //點擊跳轉st
        function loadmapmouseevent_click(map) { // 綁定點擊事件到表格
            const table = document.getElementById('locationTable');
            table.addEventListener('click', function (e) {
                const target = e.target.closest('tr');
                if (target && target.querySelectorAll('td').length > 0) {
                    const loc_name = target.querySelectorAll('td')[0].innerText;//地名
                    const lat = parseFloat(target.querySelectorAll('td')[1].innerText);//精度
                    const lng = parseFloat(target.querySelectorAll('td')[2].innerText);//緯度
                    // 將地圖中心移動到點擊的座標
                    //clearMarkers();
                    const position = { lat: lat, lng: lng };
                    map.setCenter(position);
                    map.setZoom(16);
                    // let marker = new google.maps.Marker({
                    //     position: { lat: lat, lng: lng },
                    //     map: map,
                    //     title: loc_name || 'Unknown Location'
                    // });
                }
            });
        }
        //點擊跳轉end

        //讀取表格並創立marker st
        function first_loc_mark(map) {
            const doc_loc = document.getElementById("locationTable");
            for (i1 = 0; i1 < doc_loc.rows.length; i1++) {
                const loc_name_t = doc_loc.rows[i1].cells[0].innerText || 'Unknown Location';//地點名稱
                const lng_t = Number(parseFloat(doc_loc.rows[i1].cells[2].innerText));//緯度
                const lat_t = Number(parseFloat(doc_loc.rows[i1].cells[1].innerText));//經度
                let marker_t = new google.maps.Marker({
                    position: { lat: lat_t, lng: lng_t },
                    map: map,
                    title: loc_name_t || 'Unknown Location'
                });
                markers.push(marker_t);
            }
        }
        //讀取表格並創立marker end
    </script>
    @* 初始載入end *@

    @*測試讀取表格st*@
    <script>

    </script>
    @*測試讀取表格end*@

    @*Google map工具箱 st*@
    <script>
        // 將標記推送到陣列。
        function addMarker(marker) {
          markers.push(marker);
        }
        // 透過刪除標記的參考來刪除數組中的所有標記。
        function clearMarkers() {
          for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(null);
          }
          markers = [];
        }
        // 將標記加入地圖
        function setMarker(marker) {
        marker.setMap(map); 
        }
    </script>
    @*Google map工具箱 end*@
}