@model IEnumerable<charity.Models.Location>
@{
    ViewData["Title"] = "Index";
}
@section css
{
    <style>
        #map {
            height: 100%;
            width: 100%;
        }
        /* 設置動畫過渡效果 */
        /* 設置放大效果 */
        table tbody tr:hover {
            transition: transform 0.3s ease; /* 設置動畫過渡效果 */
            transform: scale(1.01); /* 當 hover 到某一行時，該行會放大 5% */
        }
    </style>
}
<div class="col-12">
    <!-- 地圖st -->
    <div class="col-12" style="height:50vh">
        <div id="map">
        </div>
    </div>
    <!-- 地圖end -->
    @* 地圖圖片上傳st *@
@*     <form id="uploadImageForm" enctype="multipart/form-data">
        <div class="form-group">
            <label for="image">選擇圖片</label>
            <input type="file" name="image" id="image" class="form-control" accept="image/*" />
        </div>
        <button type="submit" class="btn btn-primary">上傳圖片</button>
    </form>
    <div id="uploadMessage"></div> *@
    @* 地圖圖片上傳end *@
    <p>
        <a asp-action="Create">新建地址</a>
    </p>
    <div style="overflow-x:hidden; overflow-y:auto;display:block;max-height:140px;" id="map_info_div">
        <table class="table table-hover" id="locationTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)<!--地名-->
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Longitude)<!--經-->
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Latitude)<!--緯-->
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)<!--描述-->
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)<!--地址-->
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PlusCode)<!--經緯度簡寫-->
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Capacity)<!--人數上限-->
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Longitude)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Latitude)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PlusCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Capacity)
                        </td>
                        <td>
                            <button onclick="openWindow_edit(@item.Id)">編輯</button>
                            <a asp-action="Edit" asp-route-id="@item.Id">編輯</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">檢視</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">刪除</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@*地圖呼叫*@
@section Scripts
{
    @*變數st*@
    <script>
        let map;
        var markers = [];
    </script>
    @*變數end*@
    @*地圖style*@
    <script>
        // 自訂地圖樣式，移除所有元素，保留道路
        var mapStyle = [
          {
            "featureType": "all",
            "elementType": "labels",
            "stylers": [
              { "visibility": "off" }
            ]
          },
          {
            "featureType": "administrative",
            "elementType": "geometry",
            "stylers": [
              { "visibility": "off" }
            ]
          },
          {
            "featureType": "poi",
            "stylers": [
              { "visibility": "off" }
            ]
          },
          {
            "featureType": "road",
            "elementType": "labels",
            "stylers": [
              { "visibility": "off" }
            ]
          },
          {
            "featureType": "transit",
            "stylers": [
              { "visibility": "off" }
            ]
          },
          {
            "featureType": "landscape",
            "stylers": [
              { "visibility": "simplified" },
              { "color": "#ffffff" }
            ]
          },
          {
            "featureType": "water",
            "stylers": [
              { "visibility": "on" },
              { "color": "#b0e4ff" }
            ]
          }
        ];
    </script>

    @*當寬度小於750時，啟用橫向卷軸*@
    <script>
        $(window).resize(function () {
            let Width_map_1 = $(window).width();
             
            if (Width_map_1 > 750) {
                $("#map_info_div").css({
                    "overflow-x": "hidden",
                    "overflow-y": "auto"
                });
                $("table tbody tr").hover(
                    function () {
                        $(this).css({
                            "transition": "transform 0.3s ease",
                            "transform": "scale(1.05)"
                        });
                    },
                );
            } 
            else {
                $("#map_info_div").css({
                    "overflow": "auto"
                });
                $("table tbody tr").hover(
                    function () {
                        $(this).removeAttr("transition").removeAttr("transform");
                    },
                );
            }
        });
    </script>
    @* 連接google map st *@
    <script>
        (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
              key: "AIzaSyAvwZ6fFGycrcyXR8jzu_m5CBx_gbQhygg",
          v: "weekly",
        });
    </script>
    @* 連接google map end *@
    @* 初始載入st *@
    <script>
        async function initMap() {
        const { Map } = await google.maps.importLibrary("maps");
        map = new Map(document.getElementById("map"), {
        center: { lat: 22.6273, lng: 120.3014 },
        zoom: 14,
        disableDefaultUI: true,/* 清除ui */
        styles:mapStyle
        });
        }
        // 等待頁面載入後初始化地圖
        window.onload = initMap;
        //點擊跳轉st
        // 綁定點擊事件到表格
        const table = document.getElementById('locationTable');
        table.addEventListener('click', function (e) {
            const target = e.target.closest('tr');
            if (target && target.querySelectorAll('td').length > 0) {
                const loc_name = parseFloat(target.querySelectorAll('td')[0].innerText);//地名
                const lat = parseFloat(target.querySelectorAll('td')[1].innerText);//精度
                const lng = parseFloat(target.querySelectorAll('td')[2].innerText);//緯度
                // 將地圖中心移動到點擊的座標
                clearMarkers();
                const position = { lat: lat, lng: lng };
                map.setCenter(position);
                map.setZoom(16);
                var marker = new google.maps.Marker({
                    position: { lat: lat, lng: lng },
                    map: map,
                    title: loc_name || 'Unknown Location'
                });
                addMarker(marker);
                
            }
        });
        //點擊跳轉end
    </script>
    @* 初始載入end *@
    @*Google map工具箱 st*@
    <script>
        // 將標記推送到陣列。
        function addMarker(marker) {
          markers.push(marker);
        }
        // 透過刪除標記的參考來刪除數組中的所有標記。
        function clearMarkers() {
          for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(null);
          }
          markers = [];
        }
    </script>
    @*Google map工具箱 end*@
    @*上傳圖片st*@
    <!-- AJAX 請求上傳圖片 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        //ready文檔物件模型 (DOM) 變得可以安全操作後立即運行 JavaScript 程式碼的方法
        $(document).ready(function () {
            //監聽submit
            $('#uploadImageForm').on('submit', function (e) {
                //preventDefault阻止表單默認提交
                e.preventDefault();
                //實例化FormData
                var formData = new FormData();
                //取得上傳檔案欄位的第一個檔案
                var imageFile = $('#image')[0].files[0];
                //將其加入FormData
                formData.append('image', imageFile);
                //使用ajax方法
                $.ajax({
                    //以下為將請求發送到控制器，可理解為呼叫
                    url: '../Locations/UploadImage',
                    type: 'POST',
                    data: formData,
                    //不要設置標頭，瀏覽器會自動設置合適的 multipart/form-data 標頭。
                    contentType: false,
                    //不要將 formData 物件轉換為查詢字串。當上傳檔案時，我們希望它保持為 FormData 格式，而不是被轉換為 URL 編碼的格式。
                    processData: false,
                    //請求成功時執行，response通常返回json
                    success: function (response) {
                        if (response.success) {
                            $('#uploadMessage').html('<div class="alert alert-success">' + response.message + '</div>');
                        } else {
                            $('#uploadMessage').html('<div class="alert alert-danger">' + response.message + '</div>');
                        }
                    },
                    error: function () {
                        $('#uploadMessage').html('<div class="alert alert-danger">圖片上傳失敗，請再試一次。</div>');
                        console.log(imageFile);  // 檢查是否選取到檔案
                        console.log(formData.get('image'));  // 檢查 FormData 是否包含檔案
                    }
                });
            });
        });
    </script>
    @*上傳圖片end*@
}