@model IEnumerable<charity.Models.Location>

@{
    ViewData["Title"] = "Index";
}
@section css
{
    <style>
        #map {
            height: 100%;
            width: 100%;
        }
    </style>
}
<div class="col-12">
    <!-- 地圖st -->
    <div class="col-12" style="height:50vh">
        <div id="map">
        </div>
    </div>
    <!-- 地圖end -->
    <p>
        <a asp-action="Create">新建地址</a>
    </p>
    <div style="overflow:auto;display:block;max-height:140px;">
        <table class="table table-hover" id="locationTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)<!--地名-->
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Longitude)<!--經-->
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Latitude)<!--緯-->
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)<!--描述-->
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)<!--地址-->
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PlusCode)<!--經緯度簡寫-->
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Capacity)<!--人數上限-->
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Longitude)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Latitude)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PlusCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Capacity)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">編輯</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">檢視</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">刪除</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@*地圖呼叫*@
@section Scripts
{
    <script>
        (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
              key: "AIzaSyAvwZ6fFGycrcyXR8jzu_m5CBx_gbQhygg",
          v: "weekly",
        });
        //initMap();
    </script>
    @* 初始載入st *@
    <script>
        let map;
        async function initMap() {
          const { Map } = await google.maps.importLibrary("maps");

          map = new Map(document.getElementById("map"), {
                center: { lat: 22.6273, lng: 120.3014 },
            zoom: 14,
          });
        }
        initMap();
    </script>
    @* 初始載入end *@
    @* 點擊跳轉st *@
    <script>
        {
            // const mapOptions = {
            //     zoom: 5,
            //     center: { lat: 35.8617, lng: 104.1954 }  // 中國的中心座標
            // };

            // const map = new google.maps.Map(document.getElementById('map'), mapOptions);

            // 綁定點擊事件到表格
            const table = document.getElementById('locationTable');
            table.addEventListener('click', function (e) {
                const target = e.target.closest('tr');
                if (target && target.querySelectorAll('td').length > 0) {
                    const lat = parseFloat(target.querySelectorAll('td')[2].innerText);//精度
                    const lng = parseFloat(target.querySelectorAll('td')[1].innerText);//緯度

                    // 將地圖中心移動到點擊的座標
                    const position = { lat: lat, lng: lng };
                    map.setCenter(position);
                    map.setZoom(14);
                }
            });
        }
        </script>
    @* 點擊跳轉st *@
}