@model charity.ViewModels.ProductImgViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>詳細資訊</h1>

<div>
    <h4>商品</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.product.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.product.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.product.CategoryNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.product.CategoryNavigation.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.product.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.product.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.product.OnShelf)
        </dt>
        <dd class = "col-sm-10">
            @* @Html.DisplayFor(model => model.product.OnShelf) *@
            @if (Model.product.OnShelf == true) {
                <span>上架中</span>
            }
            else {
                <span>目前不在架上</span>
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.product.OnShelfTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.product.OnShelfTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.product.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.product.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.product.Instock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.product.Instock)
        </dd>
        <dt class="col-sm-2">
            圖片
        </dt>
        <dd class="col-sm-10">
            @if (Model.productImgs != null && Model.productImgs.Any()) {
                <div>
                    @foreach (var imagePath in Model.productImgs) {
                        <img src="@Url.Content(imagePath)" alt="" style="width: 300px; height: auto; margin-right: 10px;">
                    }
                </div>
            }
            else {
                <p>No images available for this product.</p>
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.product.SellerNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.product.SellerNavigation.Id)
        </dd> 
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.product?.Id" class="btn btn-warning"><i class="fa-regular fa-pen-to-square"></i> 修改</a>
    <div>
        <hr>
        <a asp-action="Index" class="btn btn-primary"><i class="fa-solid fa-file-lines"></i> 回到列表</a>
    </div>
</div>
