@model charity.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>詳細資訊</h1>

<div>
    <h4>商品</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OnShelf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OnShelf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OnShelfTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OnShelfTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instock)
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellerNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellerNavigation.Id)
        </dd>  *@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning"><i class="fa-regular fa-pen-to-square"></i> 修改</a>
    <div>
        <hr>
        <a asp-action="Index" class="btn btn-primary"><i class="fa-solid fa-file-lines"></i> 回到列表</a>
    </div>
</div>
