@{
    @* 為下列手風琴內部元素id設變數 *@
    var accLoc = $"accordionLocation{Model.Id}";
    var accPhoto = $"accordionPhoto{Model.Id}";
    var accPeriod = $"accordionPeriod{Model.Id}";
    var headLoc = $"headingLocation{Model.Id}";
    var headPhoto = $"headingPhoto{Model.Id}";
    var headPeriod = $"headingPeriod{Model.Id}";
    var clpLoc = $"collapseLocation{Model.Id}";
    var clpPhoto = $"collapsePhoto{Model.Id}";
    var clpPeriod = $"collap{Model.Id}";
    @* 區段結束 *@
    //摺疊全部手風琴的變數
    var trClassName = $"more-info{Model.Id}";
    var locs = $"loc{Model.Id}";
    var pics = $"pic{Model.Id}";
    var times = $"time{Model.Id}";
    // 手風琴所佔欄數
    int colWidth = 9;
}

@* 將三個手風琴改成一個手風琴 *@

<!-- 活動地點 -->
<tr class="collapse @trClassName" id=@locs draggable=true">
    <td colspan="@colWidth">
        <div class="accordion" id="@accLoc">
            <div class="accordion-item">
                <h2 class="accordion-header" id="@headLoc">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@clpLoc" aria-expanded="false" aria-controls="@clpLoc">
                        活動地點順序
                    </button>
                </h2>
                <div id="@clpLoc" class="accordion-collapse collapse" aria-labelledby="@headLoc" data-bs-parent="#@accLoc">
                    <div class="accordion-body">
                        <!--<p>測試內容</p>-->
                        <div class="ajaxEventLocations" data-id="@Model.Id"></div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="@headPhoto">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@clpPhoto" aria-expanded="false" aria-controls="@clpPhoto">
                        活動照片
                    </button>
                </h2>
                <div id="@clpPhoto" class="accordion-collapse collapse" aria-labelledby="@headPhoto" data-bs-parent="#@accPhoto">
                    <div class="accordion-body">
                        <div class="ajaxEventImgs" data-id="@Model.Id"></div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="@headPeriod">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@clpPeriod" aria-expanded="false" aria-controls="@clpPeriod">
                        活動時段
                    </button>
                </h2>
                <div id="@clpPeriod" class="accordion-collapse collapse" aria-labelledby="@headPhoto" data-bs-parent="#@accPeriod">
                    <div class="accordion-body">
                        <div class="ajaxEventPeriods" data-id="@Model.Id"></div>
                    </div>
                </div>
            </div>
        </div>
    </td>
</tr>
<!-- 活動照片 -->
<tr class="collapse @trClassName" id=@pics>
    <td colspan="@colWidth">
        <div class="accordion" id="@accPhoto">
            
        </div>
    </td>
</tr>
<!-- 活動時段 -->
<tr class="collapse @trClassName" id=@times>
    <td colspan="@colWidth">
        <div class="accordion" id="@accPeriod">
            
        </div>
    </td>
</tr>