@model IEnumerable<charity.Models.EventLocation>

<p>
    <a asp-controller="EventLocations" asp-action="Create" asp-route-fromList="@Url.Action("Index", "Events")">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderInEvent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EIdNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LIdNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderInEvent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EIdNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LIdNavigation.Id)
            </td>
            <td>
                <a asp-controller="EventLocations" asp-action="Edit" asp-route-id="@item.Id" asp-route-fromList="@Url.Action("Index", "Events")">Edit</a> |
                <a asp-controller="EventLocations" asp-action="Details" asp-route-id="@item.Id" asp-route-fromList="@Url.Action("Index", "Events")">Details</a> |
                <a asp-controller="EventLocations" asp-action="Delete" asp-route-id="@item.Id" asp-route-fromList="@Url.Action("Index", "Events")">Delete</a>
            </td>
        </tr>
        <tr class="drag-content" ondrop="drop(event)" ondragover="allowDrop(event)">
            <td colspan="4" draggable="true" ondragstart="drag(event)" id="drag-@item.OrderInEvent">
                <p>+ 順序: @Html.DisplayFor(modelItem => item.OrderInEvent)</p>
            </td>
        </tr>
        <tr class="drag-content" ondrop="drop(event)" ondragover="allowDrop(event)">
            
        </tr>
}
    </tbody>
</table>
