@* @model IEnumerable<charity.Models.EventImg> *@
@model IEnumerable<EventImgViewModel>


<div class="owl-carousel owl-theme">
    @foreach (var item in Model)
    {
        @* <p>@item.ImgName</p> *@
        string imglocation = @GlobalVar.ImgLocServer + @item.EId + "/" + @item.ImgName;
        <div class="item">
            <a asp-controller="EventImgs" asp-action="Details" asp-route-id="@item.Id" asp-route-fromList="@Url.Action("Index", "Events")">
                <img class="carousel-img" src="@imglocation" alt="@item.ImgName" />
            </a>
        </div>
        
        @* <img class="carousel-img" src="@imglocation" alt="@item.ImgName" /> *@
    }
</div>


<p>
    <a asp-controller ="EventImgs" asp-action="Create" asp-route-fromList="@Url.Action("Index", "Events")">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImgName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            string imglocation = @GlobalVar.ImgLocServer + @item.EId + "/" + @item.ImgName;
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImgName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                <img class="event-img" src="@imglocation" alt="@item.ImgName" />
            </td>
            <td>
                <a asp-controller="EventImgs" asp-action="Edit" asp-route-id="@item.Id" asp-route-fromList="@Url.Action("Index", "Events")">Edit</a> |
                <a asp-controller="EventImgs" asp-action="Details" asp-route-id="@item.Id" asp-route-fromList="@Url.Action("Index", "Events")">Details</a> |
                <a asp-controller="EventImgs" asp-action="Delete" asp-route-id="@item.Id" asp-route-fromList="@Url.Action("Index", "Events")">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
