@model IEnumerable<charity.Models.LocationImg>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">新建</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImgName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LIdNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImgName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LIdNavigation.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">編輯</a> |
                <a asp-action="Details" asp-route-id="@item.Id">細項</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">刪除</a>
            </td>
        </tr>
}
    </tbody>
</table>
