@model charity.Models.Member

@{
    ViewData["Title"] = "Delete";
}

<h1>刪除</h1>

<h3>確定要刪除嗎?</h3>
<div>
    <h4>會員</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Account)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Account)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NickName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NickName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RealName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RealName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Points)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Points)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Checkin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Checkin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImgName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaceRec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaceRec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccessNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccessNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusNavigation.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">
            <i class="fa-solid fa-trash-can"></i> 刪除
        </button>
        <div>
            <hr>
            <a asp-action="Index" class="btn btn-primary"><i class="fa-solid fa-file-lines"></i> 回到列表</a>
        </div>
    </form>
</div>
